#thatsIt {
  position: relative;
  top: 640px;
  left: -8px;
  height: 750px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 100px 0px 100px 0px;
  background-color: #fff;
}

#email {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button {
  background-color: #3b3a3b;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
}

#button:hover {
  background-color: #fff;
  border: 3px solid #3b3a3b;
  color: #3b3a3b;
}

#endText {
  position: absolute;
  top: 220px;
  font-size: 3em;
}
