#whoAmI2 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  top: 244px;
  background-color: hsla(239, 100%, 4%, 0.71);
  left: -8px;
  height: 750px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 100px 0px 100px 0px;
}

#ordered {
  padding-left: 25%;
  position: relative;
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  background-color: white;
}

#pictureContainer {
  width: 250px;
}

#innerLeftText {
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: x-large;
  justify-content: space-around;
}

#innerLeftText div {
  padding: 27px 35px 35px 35px;
}

#innerLeftText img {
  height: 50px;
  width: 50px;
}
.bg {
  width: 500px;
  height: auto;
  background-size: 400px;
  display: flex;
  flex-direction: column;
}

#name {
  position: relative;
  bottom: -419px;
  text-align: center;
  right: -75px;
}
#rightImages {
  align-self: center;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
#text {
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline overline;
}
